{% extends "layout.html" %}
    {% block content %}
        {% for action in actions %}
          
        <div class="container">
                <div class="card my-4">
                        <div class="card text-center card-header">
                               <h4> {{action.name.name}} </h4>
                        </div>
                <div class="card card-body">
                                <label class="font-weight-bold" for="description">Description: </label>
                                <p>{{action.description}}</p>
                                    <label class="font-weight-bold" for="Note">Note: </label>
                                            <p>{{action.note}}</p>
                                        </div>
                        <div class="card card-footer">
                                <div class="form-group">
                                        <a class="form-control text-center btn btn-primary" href="{{url_for('projects.allActionsId', action_id = action.id)}}">View Actions</a>
                                </div>
                        </div>
                                </div>
                                
                              </div>
        {% endfor %}
        
        
    {% endblock content %}