{% extends "layout.html" %}
    {% block content %}
       

        <div class="container">
                <div class="card mt-4">
                  <div class="card card-header text-center">
                      <h4>{{action.name.name}}</h4>
                  </div>
                  <div class="card card-body">
                        <label class="font-weight-bold" for="description">Description: </label>
                        <p>{{action.description}}</p>
                            <label class="font-weight-bold" for="Note">Note: </label>
                                    <p>{{action.note}}</p>
                                </div>
                        </div>
                  </div>
                </div>
    

    {% endblock content %}