{% extends "layout.html" %}
    {% block content %}
        
    <div class="container">
            
                <div class="card mt-4">
                                <div class="card card-body">
                                    <p>{{action.description}}</p>
                                    <div>
                                   <p>{{action.note}}</p>
                                    </div> 
                                </div>
                                
                              </div>
        
    {% endblock content %}